<section>
    <h1>ZULDI GANTENG</h1>

    <h2 class="mb-4">Daftar Hasil Pengukuran</h2>

    <div class="flex flex-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Grafik
        </div><br>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Scan QR
        </div>
        </div>
        <div class="flex flex-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Kondisi Tenggorokan
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Scan QR
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Detak Jantung
        </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            SPO2
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Suhu Tubuh
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Kadar Gula Darah
        </div>
    </div>
    <div class="flex flex-wrap gap-3 mb-6">    
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Asam Urat
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Kolestrol
        </div>
        <div class=" min-w-[150px] bg-white flex items-center px-100 py-100 rounded-lg shadow justify-between">
            Detak Jantung Pasien
        </div>
    </div>
       


   


</section>
