html,
body {
    @apply h-full;
}

body {
    @apply bg-white;
    @apply text-slate-900;
}

body.dark {
    @apply bg-zinc-900;
    @apply text-zinc-200;
}

div.graf{
    @apply bg-slate-200;
    @apply w-0.5;
    height: 0.2em;
}



div.data{
    @apply bg-slate-200;
    @apply w-0.5;
    margin: .5em;
}

input{

    padding: 2px;
    @apply bg-white;
    border: 2px solid #cccc;
    border-radius: 1px;
}

label{
 
}
