<section>
    <h1>ZULDI GANTENG</h1>
    <img class=" h-[100px] w-[100px] bg-slate-300 rounded-lg">
        PP
    <br>
    <h2 class="mb-4">Daftar Hasil Pengukuran</h2>

    <div class="contain data-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-slate-300 data items-center px-100 py-100 rounded-lg shadow justify-between">
            Grafik
        </div>
        
        </div>
        <div class="data data-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Kondisi Tenggorokan
        </div>

        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Detak Jantung
        </div>
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Scan QR
        </div>
    </div>
    <div class="data data-wrap gap-3 mb-6">
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            SPO2
        </div>
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Suhu Tubuh
        </div>
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Kadar Gula Darah
        </div>
    </div>
    <div class="data data-wrap gap-3 mb-6">    
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Asam Urat
        </div>
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Kolestrol
        </div>
        <div class=" min-w-[150px] bg-white data items-center px-100 py-100 rounded-lg shadow justify-between">
            Detak Jantung Pasien
        </div>
    </div>
        <button
            class="min-w-[150px] btn {{ currentTheme === 'system' ? 'btn-primary' : 'btn-secondary' }}"
            (click)="handleThemeChange('system')"
        >
            <span class="icon-[carbon--screen] text-2xl mr-2"></span>

            System
        </button>
        <button
            data-cy="theme-light-button"
            class="min-w-[150px] btn {{ currentTheme === 'light' ? 'btn-primary' : 'btn-secondary' }}"
            (click)="handleThemeChange('light')"
        >
            <span class="icon-[carbon--sun] text-2xl mr-2"></span>

            Light
        </button>
        <button
            data-cy="theme-dark-button"
            class="min-w-[150px] btn {{ currentTheme === 'dark' ? 'btn-primary' : 'btn-secondary' }}"
            (click)="handleThemeChange('dark')"
        >
            <span class="icon-[carbon--moon] text-2xl mr-2"></span>

            Dark
        </button>


    <div class="mt-12">
        <h3 class="h5">Settings</h3>
        <ul>
            <li>
                <a
                    class="text-sm link btn {{ currentTheme === 'system' ? 'btn-primary' : 'btn-secondary' }}"
                    [routerLink]="'/settings/accessibility'"
                >
                    Accessibility
                </a>
            </li>
            <li>
                <a
                    class="text-sm link btn {{ currentTheme === 'system' ? 'btn-primary' : 'btn-secondary' }}"
                    [routerLink]="'/settings/account'"
                >
                    Account
                </a>
            </li>
            <li>
                <a
                    class="text-sm link btn {{ currentTheme === 'system' ? 'btn-primary' : 'btn-secondary' }}"
                    [routerLink]="'/settings/appearance'"
                >
                    Appearance
                </a>
            </li>
        </ul>
    </div>

    <div class="mt-6">
        <h3 class="h5" >Profiles</h3>
        <ul>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/zuldi'"
                    text-sm
                >
                    Home
                </a>
            </li>
            <li>
                <button
                    class="text-sm link"
                    (click)="chat()"
                    text-sm
                >
                    Chat
                </button>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/sara'"
                    text-sm
                >
                    Video Call
                </a>
            </li>
            <li>
                <a
                    class="text-sm link"
                    [routerLink]="'/users/sara'"
                    text-sm
                >
                    Profil
                </a>
            </li>
        </ul>
    </div>
</section>
